body {
  background-color: #E5E5E5;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2 {
  font-family: Oswald, Arial, sans-serif;
  font-size: 48px;
  line-height: 64px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

a {
  text-decoration: none;
  color: unset;
}

.page-wrapper {
  background-color: #EEEEEE;
  max-width: 1200px;
  margin: 0 auto;
}

.header-wrapper {
  background-image: url("../assets/desktop_background_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
}

.header-name {
  margin-right: 80px;
}

.header-nav {
  flex-grow: 1;
  max-width: 620px;
}

.header a {
  color: #FFFFFF;
  text-transform: uppercase;
}

.header-name a {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.header-menu {
  display: none;
}

.header-menu-link {
  text-align: end;
  display: block;
}

.header-menu-link span {
  cursor: pointer;
}

.header-section {
  padding: 140px 28px 244px;
  text-align: center;
  color: #FFFFFF;
}

.header-section img {
  margin-bottom: 15px;
  transition: transform 1s ease-in-out, scale 1s ease-in-out;
}

.header-section img:hover {
  transform: rotateY(180deg) scale(1.5);
}

.header-section__headline {
  margin-bottom: 40px;
}

.header-section__description {
  color: #FFFFFF70;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.main-section {
  text-align: center;
  padding: 68px 18px 100px;
}

.main-section__headline {
  color: #464547;
  margin-bottom: 40px;
}

.main-section__description {
  font-weight: normal;
  color: #666666;
  margin-bottom: 44px;
}

.main-section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #666666;
  margin-bottom: 26px;
}

.main-section-content p {
  flex: 1 1 0;
  text-align: left;
}

.main-section-content {
  gap: 24px;
}

.main-section__read-more-button {
  width: 115px;
  height: 36px;
  background-color: #55C2D8;
  border-radius: 18px;
  border: none;
  font-family: Oswald, "Arial Black", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}

.main-section__read-more-button:hover {
  transform-origin: left center;
  transform: rotate(10deg);
}

.culture-section {
  background-image: linear-gradient(#8c4f2a30, #8c4f2a30), url("../assets/desktop_background_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 84px 42px;
  color: #FFFFFF;
}

.culture-section__headline {
  margin-bottom: 40px;
}

.culture-section__play-button {
  position: relative;
  margin-bottom: 40px;
  width: 100px;
  height: 100px;
  background: #39C2D7;
  border-radius: 50%;
  border: none;
  text-align: center;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.culture-section__play-button:hover {
  transform: scale(0.95); /* scale down play button */
  background: #FFFFFF;  /* change button color */
  transition: all 0.3s ease-in-out;
}

.culture-section__play-button img {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  filter: none; /*return back play image color */
  transition: filter 0.3s ease-in-out;
}

.culture-section__play-button:hover img {
  /* change play image color on hover */
  filter: invert(55%) sepia(25%) saturate(963%) hue-rotate(140deg) brightness(140%) contrast(103%);
  transition: all 0.3s ease-in-out;
}

.culture-section__description {
  font-weight: normal;
}

.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 17px;
  text-align: center;
  line-height: 19px;
  padding: 35px 150px 75px;
  background: #464547;
  color: #FFFFFF40;
}

.footer-logo {
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-address {
  font-style: normal;
}

@media (min-width: 768px) {
  .header {
    padding: 48px 160px;
  }

  .header-menu a {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2em;
  }

  .header-menu {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .header-menu li:not(:last-child) {
    margin-right: 32px;
  }

  .header-menu-link {
    display: none;
  }

  .header-section {
    padding-top: 200px;
    padding-bottom: 252px;
  }

  .main-section {
    padding: 68px 152px 100px;
  }

  .main-section-content {
    flex-direction: row;
    gap: 84px;
  }

  .culture-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .culture-section__play-button {
    width: 150px;
    height: 150px;
  }

  .culture-section__play-button img {
    width: 70px;
    height: 55px;
    top: 50px;
    left: 48px;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:  "logo logo address address . . ."
                          ". . email email . copyright copyright";
    text-align: left;
    gap: 20px 10px;
  }

  .footer-logo {
    grid-area: logo;
  }

  .footer-address {
    grid-area: address;
  }

  .email {
    grid-area: email;
  }

  .copyright {
    grid-area: copyright;
  }
}
